.idea
*.iml
target
.tmp
coverage
/.classpath
/.project
/hdp-ref-apps-web.log
/trucking.log
/.settings/
/.classpath
/.project
/.classpath
/.project
/hdp-ref-apps-web.log
/trucking.log
/.settings/
/.settings/
node
node_modules
/target/
/trucking.log.1
/trucking.log.2
/nohup.out
