<html class="no-js">
	<head>
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">

	</head>
		
<body>


<div ng-controller="TruckMonitorCtrl">



<div >
	<div class="panel-heading">
		<h3 >
			Real-Time Truck Driver Monitoring Application Powered by HDF 2.0
			<!-- <button ng-disabled="false" ng-click="generateTruckStreams()">Generate Truck Events</button>  -->
		</h3> 
		
	</div>

</div>


	  


<div class="box non-collapsible">	

	<h4>
		Real-Time Alerts and Notifications
	</h4>
				
	<div id="gaugeContainer1" class="gauge-container"></div>
	<div id="gaugeContainer2" class="gauge-container"></div>
	<div id="gaugeContainer3" class="gauge-container"></div>
	
	<div  class="alert-container">
		
		<table class="table table-striped table-bordered table-hover">
	          <thead>
	            <tr>
	              <th>Alert Time</th>
	              <th>Alert Type</th>
	               <th>Alert Message</th>
	              <th>Driver Name</th>
	            </tr>
	          </thead>
			<tr class="{{result.rowClass}}" ng-repeat="result in results.alerts.rows">
				<td class{}="text">{{result.notificationTimestamp}}</td>
				<td class{}="text">{{result.alertType}}</td>
				<td class{}="text">{{result.notificationMessage}}</td>
				<td class{}="text">{{result.driverName}}</td>
				
			</tr>
		</table>
		
		
</div>		
</div>


<div class="box non-collapsible">

	<h4>
		Real-time Geo Location and Events
	</h4>
	
 	<leaflet defaults="defaults" center="center" id="map"  height="600px" style="position:relative"></leaflet>				

	<div ng-show="results.driverMontior.rows.length > 0 ">
		
		<table class="table table-striped table-bordered table-hover">
	          <thead>
	            <tr>
	              <th>Driver Name</th>
	               <th>Route Name</th>
	              <th>TruckId</th>               
	              <th>DriverId</th>
				  <th>RouteId</th>
	              <th class="number">Timestamp</th>
	              <th class="number">Longitude</th>
	              <th class="number">Latitude</th>
	              <th class="number">Last Infraction</th>
	              <th>Total Infractions</th>
	            </tr>
	          </thead>
			<tr class="{{result.rowClass}}" ng-repeat="result in results.driverMontior.rows">
				<td class{}="text">{{result.driverName}}</td>
				<td class="text">{{result.routeName}}</td>
				<td class="text">{{result.truckId}}</td>
				<td class="text">{{result.driverId}}</td>
				<td class="text">{{result.routeId}}</td>
				<td class="text">{{result.timeStampString}}</td>
				<td class="text">{{result.longitude}}</td>
				<td class="text">{{result.latitude}}</td>
				<td class="text">{{result.infractionEvent}}</td>
				<td class="text">{{result.numberOfInfractions}}</td>

			</tr>
		</table>
	</div>								

</div>

</div>



</body>
</html>