<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>This application is an IOT Streaming Application with HDP. The specific components in this architecture are the following:</p>
  		<div style="padding-left: 30px" >
  		<u1>
  			<li> <b>Storm</b> Stream Processing Framework to process real-time streams of trucking events </li>
  			<li> <b>HBase</b> Store the last 2 weeks of granular trucking events</li>
  			<li> <b> HDFS </b> Store All Trucking Events </li>
  			<li> <b> Solr </b> Indexing 2 weeks worth of trucking events for Discovery and Analysis </li>
  		</u1>
  		
  		</div>
  	    </br>
  	    
  	    <p>Click the following to check out the App: <a ng-href="#/monitorTrucks"> Truck Monitoring Application </a> </p>

    
    </p>
</div>