<div class="jumbotron">
  <h2>Welcome to the HDP 2.5 Streaming Analytics Reference Application</h2>
  <p>The specific components in this architecture are the following:</p>
  <p> For the Use Details, see the following XXX </p>
  		<div style="padding-left: 30px" >
  		<u1>
  			<li> <b>Storm</b>Streaming analytics engine used to build a stream application demonstrating joining streams, windoweed aggreation, fast real-tile model scoring, serving requests to Dashboard  </li>
  			<li> <b>HBase</b> Store the Time-Series Trucking Events for Fast Access</li>
  			<li> <b> HDFS </b> Store All Trucking Events in HDFS for Analytics </li>
  			<li> <b> Solr </b> Index trucking events for Discovery and Analysis </li>
  		</u1>
  		
  		</div>
  	    </br>
  	    
  	    <p>Check out the Below Links to Configure and Deploy the Trucking Monitoring Application  </p>
  	    
		<table class="table table-striped table-bordered table-hover">
	          <thead>
	            <tr>
	              <th>Link</th>
	              <th>Description</th>
	               
	            </tr>
	          </thead>
	          <tr>
	          	<td> <a ng-href="#/configureHDPServiceEndpoints"> Configure HDP Service Endpoints </a> </td>
	          	<td>Configures The HDP Service Endpoints Used By The App</td>
	          </tr>
	          <tr>
	          	<td> <a href="" ng-controller="ServiceRegistryCtrl" ng-click="deployStormTopology()"> Deploy the Storm Topology </a> </td>
	          	<td>Deploys the Storm Topology to the Cluster</td>
	          </tr>	  
	          <tr>
	          	<td> <a ng-href="#/monitorTrucks"> Truck Monitoring Application </a> </td>
	          	<td>Truck Monitoring Application</td>
	          </tr>		                  
  	    

    
    </p>
</div>