<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>This application is a an enterprise content management system built using HDP. The specific components in this architecture are the following:</p>
  		<div style="padding-left: 30px" >
  		<u1>
  			<li> <b>HBase</b> as the system of Record for Documents </li>
  			<li> <b> Solr </b> as the System of Record for Metadata and providing blazing fast search </li>
  			<li> <b> Spring Data Solr </b> to provide easy abstraction on top of Solr </li>
  			<li> <b> Spring HBase </b> to provide easy abstraction on top of Hbase </li>
  		</u1>
  		
  		</div>
  	    </br>
  	    
  	    <p>Click the following to check out the App: <a ng-href="#/docs/search">Document Management </a> </p>

    
    </p>
</div>