/* app css stylesheet */
.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu>li {
	display: inline;
}

.menu>li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu>li:nth-child(1):before {
	content: "";
	padding: 0;
}

#spinner {
	margin-left: -105px;
	margin-top: 13px;
}

.angular-google-map-container {
	height: 400px;
}

span.highlight-snippet em {
	background: none repeat scroll 0 0 #ffffcc;
    border: 1px solid #ffcc66;
    border-radius: 8px;
    color: red;
    padding: 5px;
}

ul.snippetList li {
	border-bottom: 1px dotted #ccc;
    font-family: Garamond;
    font-size: 1.1em;
    list-style-type: none;
    margin-bottom: 5px;
    padding-bottom: 4px;
}

ul.snippetList {
	margin: 0px auto;
	padding: 2px;
}

td.author {
	width: 20px;
}

td.date {
	width: 15px;
}

#docBody {
	font-family: "Garamond";
}

#docBody em {
	background: none repeat scroll 0 0 #ffffcc;
    border: 1px solid #ffcc66;
    border-radius: 8px;
    padding: 10px;
}


