
body {
  background-color: #f5f5f5;
}

#main-content {
  max-width: 940px;
  height: 800px;
  padding: 10px 20px 0px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.section1 {
width: 250px;
height: 175px;
margin: 10px 10px 10px 10px;
padding: 4px;
border: 1px solid #000;
background: white;
float: left;
overflow: auto;
font-family: "Myriad Pro","Trebuchet MS","Helvetica Neue",Helvetica,Arial,Sans-Serif;
}



.table th.number, .table td.number {
  text-align: right;
}

.table td.trade-buttons {
  text-align: center;
}

.table tfoot {
  font-weight: bold;
}

.highlight {
background: #972F2C

}

#map { height: 700px; }